[Unit]
Description=Bind OBD-II Bluetooth to rfcomm0
After=bluetooth.target

[Service]
ExecStart=/usr/bin/rfcomm bind /dev/rfcomm0 XX:XX:XX:XX:XX:XX
Restart=on-failure

[Install]
WantedBy=multi-user.target
